<div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6 col-sm-12">
        <div class="login" id="contentArea">
          <h1 class="display-4">Modify your account</h1>
    
          <div
            id="messageArea"
            *ngIf="isNotChanged"
            class="alert alert-danger"
          >
            {{ errorMessage }}
          </div>
  
          <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
            <p class="hint-text">
                Modify your account. All fields must be updated to submit.
            </p>
  
            <div class="form-group">
              <div class="row">
                <p class="lead">
                  <i class="fas fa-user-shield"></i> Personal Information
                </p>
                <div class="col-md-6">
                  <input
                    [(ngModel)]="person.firstName"
                    #firstName="ngModel"
                    class="form-control"
                    type="text"
                    name="firstName"
                    id="firstName"
                    placeholder="{{person.firstName}}"
                    required
                  />
                </div>
                <div *ngIf="firstName.errors?.['required'] && f.submitted">
                  First Name is required
                </div>
  
                <div class="col-md-6">
                  <input
                    [(ngModel)]="person.lastName"
                    #lastName="ngModel"
                    class="form-control"
                    type="text"
                    name="lastName"
                    id="lastName"
                    placeholder="{{person.lastName}}"
                    required
                  />
                </div>
                <div *ngIf="lastName.errors?.['required'] && f.submitted">
                  Last Name is required
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input
                    [(ngModel)]="person.emailAddress"
                    #emailAddress="ngModel"
                    type="email"
                    class="form-control"
                    id="emailAddress"
                    name="emailAddress"
                    required
                    value=""
                    placeholder="{{person.emailAddress}}"
                  />
                </div>
                <div *ngIf="emailAddress.errors?.['required'] && f.submitted">
                  Email Address is required
                </div>
              </div>
            </div>
  
            <div class="form-group mt-4">
              <div class="row">
                <p class="lead">
                  <i class="fas fa-database"></i> System Identification
                </p>
                <div class="col-md-12">
                  <input
                    [(ngModel)]="person.username"
                    #username="ngModel"
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    required
                    value=""
                    placeholder="{{person.username}}"
                  />
                </div>
                <div *ngIf="username.errors?.['required'] && f.submitted">
                  Username is required
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input
                    [(ngModel)]="person.password"
                    #password="ngModel"
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    value=""
                    placeholder="Password"
                    required
                  />
                </div>
                <div *ngIf="password.errors?.['required'] && f.submitted">
                  Password is required
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input
                    [(ngModel)]="person.confirmPassword"
                    #confirmPassword="ngModel"
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    required
                    value=""
                    pattern="{{ password.value }}"
                    placeholder="Confirm Password"
                  />
                </div>
                <div *ngIf="confirmPassword.errors?.['required'] && f.submitted">
                  Confirm Password is required
                </div>
                <div *ngIf="confirmPassword.errors?.['pattern'] && f.submitted">
                  Confirm Password shoudl match Password
                </div>
              </div>
            </div>
  
            <div class="button_container">
              <button
                id="submitButton"
                type="submit"
                class="buttonl"
              >
                <i class="fas fa-user"></i> Submit
              </button>
              <button
                id="cancelButton"
                type="reset"
                class="buttonl"
                onclick="location.href='/home'"
              >
                <i class="fas fa-undo"></i> Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  