<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
      <div class="login" id="contentArea">
        <h1 class="display-4">Login</h1>

        <!-- Message Area -->

        <div *ngIf="isLoginFailed" id="messageArea" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <p class="hint-text">
          Login into your account to create and customise your surveys.
        </p>

        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
          <div class="form-group mb-2">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"> </i>
              </span>
              <input
                [(ngModel)]="form.username"
                #username="ngModel"
                type="text"
                class="form-control"
                id="username"
                name="username"
                required
                placeholder="Enter your username"
              />
            </div>

            <div
              *ngIf="username.errors?.['required'] && f.submitted"
              class="alert alert-danger"
              role="alert"
            >
              Username is required
            </div>
          </div>

          <div class="form-group mb-2">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock"> </i>
              </span>
              <input
                [(ngModel)]="form.password"
                #password="ngModel"
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
                value=""
                placeholder="Enter your password"
              />
            </div>
            <div
              *ngIf="password.errors?.['required'] && f.submitted"
              class="alert alert-danger"
              role="alert"
            >
              Password is required
            </div>
          </div>
          <div class="button_area">
            <button id="loginButton"type="submit"class="buttonl">
              <i class="fas fa-sign-in-alt"></i> Login
            </button>
            <button
              id="cancelButton"
              type="reset"
              class="buttonl"
              onclick="window.location.href='/home'"
            >
              <i class="fas fa-undo"></i> Cancel
            </button>
          </div>
        </form>
      </div>
      <p class="register_prompt">
        Don't have an account?
        <a class="link" href="/register" routerLink="/register"
          >Register Here!</a
        >
      </p>
    </div>
  </div>
</div>
