<div class="container">
  <div class="row">
    <h1 class="display-6">Edit Survey {{ survey.surveyType }}</h1>
    <hr />
  </div>
  <div class="row">
    <p class="lead text-center">Enter the survey details</p>
  </div>
  <form #f="ngForm" class="agreeForm" (ngSubmit)="onSubmit()">
    <div class="agreeFormGroup">
      <div class="mb-3">
        <label for="title" class="form-label">Survey Title</label>
        <input
          [(ngModel)]="survey.title"
          #title="ngModel"
          name="title"
          type="email"
          class="form-control"
          id="title"
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Survey Description</label
        >
        <input
          [(ngModel)]="survey.description"
          #description="ngModel"
          name="description"
          type="text"
          class="form-control"
          id="desc"
        />
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg">
          Add Question
        </button>
      </div>
    </div>

    <div
      *ngFor="let question of survey.content; let i = index; trackBy: trackByFn"
    >
      <div class="form-group question">
        <label class="m-1 lead"> Question {{ i + 1 }}</label>

        <input
          [(ngModel)]="survey.content[i]"
          #content="ngModel"
          name="question{{ i }}"
          class="form-control"
          type="text"
          id="i"
        />
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-success btn-lg m-3">Submit</button>
      <button routerLink="/add" type="reset" class="btn btn-danger btn-lg m-3">
        Cancel
      </button>
    </div>
  </form>
</div>
