<div class="container">
    <div class="row">
      <h1 class="display-5">Start Survey</h1>
    </div>
    <div class="row">
      <h1 class="display-6 text-center" *ngModel></h1>
      <hr />
    </div>


    <form #f="ngForm" class="agreeForm" (ngSubmit)="onSubmit()" >
      <div class="col">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title"></h5>
              <div class="form-group">
                <label>Survey Title</label>
                <p id="surveyTitle" placeholder="NO TITLE GIVEN">{{survey.title}}</p>
              </div>
              
              <div class="form-group">
                <label for="descriptionTextField">Description</label>
                <p class="descriptionText" id="descriptionTextField">{{survey.description}}</p>

              </div>
              <div class="form-group" *ngFor="let question of survey.content; let i = index;">
                <label for="questionTextField {{i}}">Question:</label>
                <p class="questionText" id="questionTextField {{i}}">{{question.question}}</p>
                <div >
                <ng-container *ngIf="agreeSurveyType">
                  <input id= "agree{{i}}" type="radio" name="answer+{{i}}" [(ngModel)]="answerArray[i]" value="Agree" required/>Agree
                  <input id= "disagree{{i}}" type="radio" name="answer+{{i}}" [(ngModel)]="answerArray[i]" value="Disagree" required/>Disagree
                  <input id= "neutral{{i}}" type="radio" name="answer+{{i}}" [(ngModel)]="answerArray[i]" value="Neutral" required/>Neutral
                </ng-container>
                </div>
          
                
                <ng-container *ngIf="shortSurveyType">
                  <textarea class="form-control" rows="4" cols="50"
                  class="shortResponse"
                  placeholder="Please input your answer"
                  name="question answer"
                  required
                  ></textarea>
                </ng-container>
         
                <ng-container *ngIf="multiSurveyType">
                  <input id= "agree{{i}}" type="radio" name="answer+{{i}}" [(ngModel)]="answerArray[i]" value="survey.content[i].option1" required/>{{survey.content[i].option1}}
                  <input id= "disagree{{i}}" type="radio" name="answer+{{i}}" [(ngModel)]="answerArray[i]" value="survey.content[i]['option2']" required/>{{survey.content[i]['option2']}}
                  <input id= "neutral{{i}}" type="radio" name="answer+{{i}}" [(ngModel)]="answerArray[i]" value="survey.content[i]['option3']" required/>{{survey.content[i]['option3']}}
                  <input id= "neutral{{i}}" type="radio" name="answer+{{i}}" [(ngModel)]="answerArray[i]" value="survey.content[i]['option4']" required/>{{survey.content[i]['option4']}}

                </ng-container>
        

              </div>
              <div>
                <label for="feedbackTextArea">Survey Feedback:</label>
                <textarea class="form-control" rows="4" cols="50"
                id="feedbackTextArea"
                [(ngModel)] = "answerSurvey.feedback"
                placeholder="Please enter feedback"
                name="feedback"
                required
                ></textarea>
              </div>
              <button type="submit" class="btn btn-success btn-lg m-3" on>Submit Survey and Feedback</button>
            </div>
          </div>
      </div>
    </form>
</div>