<div class="container">
  <div class="row">
    <h1 class="display-5">Create Survey</h1>
  </div>
  <div class="row">
    <h1 class="display-6 text-center">Choose your template</h1>
    <hr />
  </div>

  <div class="row align-items-center">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Agree/Disagree Survey</h5>
          <p class="card-text">
            Template for creating survey with questions to which a user can
            agree, disagree or be neutral.
          </p>
          <a
            routerLink="/add/agree-survey"
            href="/add/agree-survey"
            class="btn btn-primary"
            >Create Survey</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Multiple Choice Survey</h5>
          <p class="card-text">
            Template for creating survey with questions having customised
            multiple choices as answers.
          </p>
          <a
            routerLink="/add/multi-survey"
            href="/add/multi-survey"
            class="btn btn-primary"
            >Create Survey</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Short Answer Survey</h5>
          <p class="card-text">
            Template for creating survey where user can give short opininated
            answers to the questions.
          </p>
          <a
            routerLink="/add/short-survey"
            href="/add/short-survey"
            class="btn btn-primary"
            >Creat Survey</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
